.topheader {
    padding-top: 15px;
    padding-left: 40px !important;
    padding-right: 40px !important;
}


.categoryListing li {
    padding: 0 !important;
}

.categoryListing li a {
    font-weight: 400;
    color: #000;
}

.categoryListing li a {
    font-weight: 400;
    color: #000;
    border-bottom: 2px solid transparent;
    padding: 10px 10px !important;
}

.categoryListing li a:hover {
    border-color: #f39516 !important;
}

.css-flnk82 .cls-1 {
    font-size: 110.52px;
    fill: #343d45;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: 600 !important;
}

.searchH {
    margin: 0 4rem !important;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
    padding: 0 2rem;
}



/* mobile mode css */
@media screen and (min-device-width: 300px) and (max-device-width: 767px) {
    .searchH {
        margin: 0 0rem !important;
    }

    .topheader {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }

    ul.categoryListing li a {
        width: 100%;
        padding: 0;
    }

    .moblieMenu {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    svg#Layer_1 {
        width: 140px;
        margin-left: 7px;
        margin-top: 3px;
    }

    /* 
    .css-1x9yojm-MuiContainer-root {
        padding-top: 145px;
    } */







}