@tailwind base;
@tailwind components;
@tailwind utilities;


/* .css-1x9yojm-MuiContainer-root {
    padding-top: 145px !important;
} */


/* admin css here*/

.listingSelect>div {
    padding: 12px;
}




.subscribeLebalListing {
    text-align: center;
    padding: 5px 18px 5px 45px;
    position: relative;
   
}


.subscribeLebalListing::before {
    content: '';
    background: white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2px;
    left: -13px;
    transform: rotate(45deg);
}

.successColor {
    background: rgb(76, 175, 80) !important;
    color: #ffff !important;

}

.warningColor {
    background: rgb(255, 152, 0) !important;
    color: #ffff !important;
}

.errorColor {
    background: rgb(211, 47, 47) !important;
    color: #ffff !important;
}



/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    margin-left: -48px !important;
} */

.MuiGrid-root.MuiGrid-container.css-11lq3yg-MuiGrid-root {
    display: flex;
    /* justify-content: space-between; */
}


.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthLg.css-1fu2e3p-MuiPaper-root-MuiDialog-paper {
    width: 46%;
}

.moreBtn {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    font-size: 16px;
}

.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}


.MuiFormControl-root.css-r47a1p-MuiFormControl-root {
    margin: 0px;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    padding: 0px !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-f56clz-MuiInputBase-root-MuiInput-root {
    width: 80%;
}



.css-li3b9n-MuiButtonBase-root-MuiButton-root{
    display: flex;
    justify-content: start !important;
    padding: 0% !important;
}
.css-1u2w381-MuiModal-root-MuiDrawer-root{
    z-index: 1099 !important;
}



.sliderTitle:hover {
    border-bottom: 2px solid #5e5e5e;
    color: #5e5e5e;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-150px);
    }

    100% {
        transform: translateY(0px);
    }
}


.activeCate {
    font-weight: 700;
}

.activeCate {
    font-weight: 700;
    /* background: #ff9800 !important; */
    background: #ACCF02 !important;
    color: #ffffff !important;
    /* color: #000 !important; */
    /* box-shadow: 0 0 30px 0 #58585870; */
}

.activeCate:hover {
    background: #144272 !important;
    /* color: #ffffff !important; */
}

.css-1ke8n8-MuiButtonBase-root-MuiButton-root {
    color: #ffff !important;
}

.MuiGrid-root.MuiGrid-container.css-11lq3yg-MuiGrid-root {
    display: flex;
    /* justify-content: space-between !important; */
}

.nan {
    padding: 0px 10px !important;
    margin-right: 0px !important;
    border-radius: 8px;
    color: #5e5e5e;
    background: transparent;
    transition: all 0.3s;
}

.css-rt4894-MuiButtonBase-root-MuiButton-root {
    background-color: #0A2647 !important;
    color: #fff !important;
}

.css-rt4894-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #144272 !important;
    color: #fff;
}

.css-xbhskc-MuiButtonBase-root-MuiButton-root {
    background-color: #0A2647 !important;
    color: #fff !important;
}

.css-xbhskc-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #144272 !important;
    color: #fff;
}

.claimbtn {
    padding: 2px 20px !important;
    border-radius: 6px !important;
    color: #ffffff !important;
    font-size: 16px !important;
}

/* footer css */

.footerIconDP>div {
    padding: 10px 12px !important;
    /* background: #fff; */
    border-radius: 10px;
    /* color: #000; */
    transition: all .3s;
}

.IconColor {
    color: #fff;
}

/* .footerIconDP>div:hover {
    padding: 10px 12px !important;
    background: #0A2647;
    border-radius: 20px;
    transform: translateY(-10px);
} */

.footerIconDP>div:hover .IconColor {
    color: #fff;
}


.footerIconDP {
    display: flex;
    padding: 35px 21px;
   
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
    padding: 0 2rem;
    /* z-index: -1; */
}

.sc-gswNZR.hCpHso {
    cursor: pointer !important;
    z-index: 999;
}

.cmyNjn>.wrapper {
    z-index: 99 !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiCard-root.border-\[1px\].border-\[\#dadde5\].css-ill3aq-MuiPaper-root-MuiCard-root {
    cursor: pointer !important;
}

.grid-about {
    grid-template-columns: 1fr 1fr;
}

/* mobile mode css */
@media screen and (min-device-width: 300px) and (max-device-width: 767px) {
    svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
        height: 40px;
        width: 40px;
    }
    .css-d3fbhi-MuiBackdrop-root{
        z-index: 0 !important;
    }
    .sc-eDvSVe.cmyNjn {
        z-index: 1 !important;
    }
    .MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.MuiListItemButton-root.MuiListItemButton-gutters.css-1b5cfng-MuiButtonBase-root-MuiListItemButton-root {
        padding: 8px 0px;
    }
    .footerIconDP {
        display: flex;
        padding: 35px 21px;
    }
    .MainBanner {
        top: 170px;
    }

    svg.svg-inline--fa.fa-bell {
        height: 20px;
        width: 20px;
    }

    span.MuiBadge-badge.MuiBadge-standard.MuiBadge-anchorOriginTopRight.MuiBadge-anchorOriginTopRightRectangular.MuiBadge-overlapRectangular.MuiBadge-colorError.MuiBadge-badge.css-2tvwro-MuiBadge-badge {
        height: 18px;
        width: 12px;
    }

    svg.svg-inline--fa.fa-circle-user {
        height: 20px;
        width: 20px;
    }

    button#basic-button {
        padding: 0%;
    }

    p.text-black.md\:text-white.text-\[0\.95rem\].textLimit2.font-normal {
        margin-bottom: 0 !important;
    }

    .grid-about {
        grid-template-columns: 1fr;
    }

    .MuiGrid-root.MuiGrid-item.MuiGrid-grid-sm-12.MuiGrid-grid-md-4.css-1a6vfpf-MuiGrid-root {
        width: 100%;
        margin-top: 7px;
    }

    .css-1a6vfpf-MuiGrid-root {
        padding-right: 0% !important;
    }

    .css-1f8hgvq-MuiGrid-root {
        display: flex;
        justify-content: space-between !important;
    }

    span.text-\[14px\].py-\[20px\].flex.font-\[400\].text-\[\#252525\] {
        margin: 25px 0px !important;
    }

    .MuiGrid-root.MuiGrid-container.css-11lq3yg-MuiGrid-root {
        display: flex;
        justify-content: start !important;
    }

    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiCard-root.border-\[1px\].border-\[\#dadde5\].css-ill3aq-MuiPaper-root-MuiCard-root img {
        height: 350px !important;
    }

    /* .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.css-mhc70k-MuiGrid-root {
        margin: 25px 0px;
    } */
    .css-1v5u2yv {
        margin-top: 50px !important;
    }

    .css-1dsi6ev-MuiContainer-root {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .css-9pckzx-MuiContainer-root {

        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;

    }

    css-15s59vo {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .MuiGrid-root.MuiGrid-container.justify-between.css-11lq3yg-MuiGrid-root {
        gap: 20px !important;
    }

    .css-14k2xx2-MuiContainer-root {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }

    .css-1g5u1j2-MuiContainer-root {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }

    .css-1c8c1y3-MuiContainer-root {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }

    .css-dntjy3-MuiContainer-root {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }

    .css-1sg9ki4-MuiButtonBase-root-MuiButton-root {
        display: flex;
        justify-content: start !important;
    }

    .hight {
        height: 300px !important;
    }

}

.grid.grid-cols-2.px-\[60px\].py-\[10px\].bg-\[\#2C2E30\] {
    display: flex;
    justify-content: space-between !important;
}


.ab-h2 {
    margin-top: 0px;
    font-family: Barlow, sans-serif;
    color: #39cd62;
    font-size: 58px;
    line-height: 80px;
    font-weight: 800;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 29px;
    line-height: 36px;
    font-weight: 400;
}


.about-banner {
    background-color: #09292b;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-12 {
    position: relative;
    max-width: 1140px;
    padding-top: 0px;
    padding-right: 40px;
    padding-left: 40px;
}

.heading-40 {
    margin-top: 0px;
    padding-left: 0px;
    font-family: Barlow, sans-serif;
    color: #021414;
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
}

.textLimit2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 30px;
    padding: 0 4px 0 0px;
}

.NotextLimit2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    /* margin-bottom: 30px; */
    /* padding: 0 4px 0 0px; */
}

.headerTop {
    padding-top: 7rem !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiPopover-paper.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    overflow: auto !important;
}


.footerCss {
    border-radius: 0px !important;
}

.css-d3fbhi-MuiBackdrop-root{
    z-index: 0 !important;
}